port: 4004
email: paradia@algonquincollege.com
url: "https://alainparadis.github.io"
baseurl: "/program-transformation"
github_username:  "alainparadis"
repository: alainparadis/program-transformation
plugins:
  - jekyll-feed

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/