<h3>
	Author Info 
</h3>
<ul>
	<li><strong>{{ site.data.sitewide.identification.my-name }}</strong>, {{ site.data.sitewide.identification.credentials }}</li>
	<li>{{ site.data.sitewide.identification.my-job-title }}</li>
	<li>Program: <strong>{{ site.data.sitewide.identification.program-name }}</strong></li>
	<li class="aside-spacer"><a href="mailto:paradia@algonquincollege.com">{{ site.data.sitewide.identification.email }}</a> </li>
	<li>tel: <a itemprop="telephone" href="tel:{{ site.data.sitewide.identification.phone }}">{{ site.data.sitewide.identification.phone }}</a></li>
	<li>mobile: <a itemprop="telephone" href="tel:{{ site.data.sitewide.identification.mobile }}">{{ site.data.sitewide.identification.mobile }}</a></li>
</ul>