<h3>
	Author Info 
</h3>
<ul>
	<li><strong>{{ site.data.sitewide.identification.my-name }}</strong>, {{ site.data.sitewide.identification.credentials }}</li>
	<li>{{ site.data.sitewide.identification.my-job-title }}</li>
	<li>Program: <strong>{{ site.data.sitewide.identification.program-name }}</strong></li>
	<li class="aside-spacer"><a href="mailto:paradia@algonquincollege.com">{{ site.data.sitewide.identification.email }}</a> </li>
	<li>tel: <a href="tel:{{ site.data.sitewide.identification.phone }}">{{ site.data.sitewide.identification.phone }}</a></li>
	<li>mobile: <a href="tel:{{ site.data.sitewide.identification.mobile }}">{{ site.data.sitewide.identification.mobile }}</a></li>
</ul>
<h3>College Contacts</h3>
<ul class="linkslist">
	{% assign sorted-contacts = site.data.sitewide.algonquin-contacts | sort: "lastname" %}
	{% for person in sorted-contacts %} 
	<li><a href="mailto:{{ person.email }}">{{ person.lastname }}, {{ person.firstname }} </a>, {{ person.title }}</li>
	{% endfor %} 
</ul>

<h3>
	Useful Links
</h3>
<ul class="linkslist">
	{% for linkitem in site.data.sitewide.links %} 
	<li><a href="{{linkitem.url}}" target="_blank">{{ linkitem.title }}</a></li>
	{% endfor %} 
</ul>
