<img src="{{ site.baseurl }}/images/logo-ac-white.svg" alt="Algonquin College" class="aside-logo">
<h3>
	Contents
</h3>
<ul>
	<li><a href="#vision">Vision</a></li>
	<li><a href="#uvp">Unique Value Proposition</a></li>
	<li><a href="#stakeholders">Stakeholders</a></li>
	<li><a href="#otherdegreeprograms">Other Degree Programs</a></li>
	<li><a href="#credential">Credential</a></li>
	<li><a href="#pos">Imagined POS</a></li>
	<li><a href="#downloads">Downloads</a></li>
	<li><a href="#links">Links</a></li>
</ul>
<hr>
<h5>
	Author Info
</h5>
<ul>
	<li><strong>{{ site.data.sitewide.my-name }}</strong>, {{ site.data.sitewide.credentials }}</li>
	<li>{{ site.data.sitewide.my-job-title }}</li>
	<li>Program: <strong>{{ site.data.sitewide.program-name }}</strong></li>
	<li class="aside-spacer"><a href="mailto:paradia@algonquincollege.com">{{ site.data.sitewide.email }}</a> </li>
</ul>
