<h5>
	PEQAB’s 14 standards:
</h5>
<ol>
	{% for standards in site.data.sitewide.peqab-standards %} 
	<li><strong>{{ standards.title }}:</strong> {{ standards.description }}</li>
	{% endfor %} 
</ol>
<h4>
	Decision Criteria 
</h4>
<ul>
	<li>Postsecondary Education Quality Assessment Board (PEQAB) feasibility (faculty credentials, scholarship, breadth).</li>
	<li>Student demand and labour-market outcomes.</li>
	<li>Financial sustainability.</li>
	<li>Alignment with Algonquin’s Program Quality Assurance Framework and strategic plan.</li>
	<li>Impact on faculty workload, culture, and equity.</li>
</ul>

