<h4><a name="credential">Credential</a></h4>
<p>
	While the current three-year program is successful, this initiative requires that we explore alternatives to address current and evolving external and internal factors.
</p>
<dl> 
	<dt>Decision scope:</dt>
	<dd>Should the Algonquin College Graphic Design program maintain an Advanced Diploma, pursue 3-year applied degree, or pursue an alternative (e.g., pathways/articulations).</dd>
</dl>
<p>
	For what it's worth, Canada’s federal Job Bank states that graphic designers <i>typically</i> need either a university degree in visual arts with a specialization in graphic design or completion of a college diploma in graphic arts/graphic design. That could simply be because it's the most common credential in the field. A degree could be more attractive and beneficial nonetheless. 
</p>
<h4>
	Decision Criteria 
</h4>
<ul>
	<li>Postsecondary Education Quality Assessment Board (PEQAB) feasibility (faculty credentials, scholarship, breadth).</li>
	<li>Student demand and labour-market outcomes.</li>
	<li>Financial sustainability.</li>
	<li>Alignment with Algonquin’s Program Quality Assurance Framework and strategic plan.</li>
	<li>Impact on faculty workload, culture, and equity.</li>
</ul>
<ul>
	<li>Is it possible to know enrolment numbers for degree programs in the province?</li>
	<li>Should we survey current Graphic Design students for interest in a degree option?</li>
</ul>
<h4>Evidence Types</h4>
<h5>Quantitative</h5>
<ul class="columns">
	<li>Enrolment trends</li>
	<li>Application yield</li>
	<li>Retention</li>
	<li>Graduation rates</li>
	<li>Employment outcomes</li>
	<li>Salary surveys</li>
	<li>Transfer rates</li>
</ul>

<h5>Qualitative:</h5>
<ul class="columns">
	<li>Focus groups</li>
	<li>Interviews</li>
	<li>Open‑ended survey responses</li>
	<li>PAC minutes</li>
	<li>Faculty consultations.</li>
</ul>

<h5>External</h5>
<ul>
	<li>PEQAB manuals and benchmarks</li>
	<li>Other colleges’ review guidelines</li>
	<li>Sector studies on new program approvals</li>
</ul>

<h5>Internal process evidence</h5>
<ul>
	<li>Algonquin’s program quality assurance reviews and prior program change cases. </li>
</ul>
<h4>
	Faculty Credentials 
</h4>
<p>
	The minimum credential for faculty teaching in a 3-year applied degree program is the terminal credential, which is a Master's degree. Fifty percent of <i>core courses</i> are taught by Master's holders. There's a minimum of five years' of work experience. All faculty are required to maintain currency in their field. There are no requirements for professional credentials. 
</p>
