<h4>
	<a name="credential">Credential</a>
</h4>
<p>
	A proposed <strong>Bachelor of Applied Design</strong> implies a degree‑level complexity in knowledge, analysis, and independent work. It will include a major field with significant upper‑level work, but over three years. It will have a volume of breadth and depth that exceeds an advanced diploma but is still less than a typical four‑year honours program.
</p>
<h5>PEQAB’s 14 standards:</h5>
<ol>
{% for standards in site.data.sitewide.peqab-standards %}
	<li><strong>{{ standards.title }}:</strong> {{ standards.description }}</li>
{% endfor %}
</ol>
<h4>
	Decision Criteria 
</h4>
<ul>
	<li>Postsecondary Education Quality Assessment Board (PEQAB) feasibility (faculty credentials, scholarship, breadth).</li>
	<li>Student demand and labour-market outcomes.</li>
	<li>Financial sustainability.</li>
	<li>Alignment with Algonquin’s Program Quality Assurance Framework and strategic plan.</li>
	<li>Impact on faculty workload, culture, and equity.</li>
</ul>
<h4>
	Evidence Types
</h4>
<h5>
	Quantitative
</h5>
<ul class="columns">
	<li>Enrolment trends</li>
	<li>Application yield</li>
	<li>Retention</li>
	<li>Graduation rates</li>
	<li>Employment outcomes</li>
	<li>Salary surveys</li>
	<li>Transfer rates</li>
</ul>
<h5>
	Qualitative:
</h5>
<ul class="columns">
	<li>Focus groups</li>
	<li>Interviews</li>
	<li>Open‑ended survey responses</li>
	<li>PAC minutes</li>
	<li>Faculty consultations.</li>
</ul>
<h5>
	External
</h5>
<ul>
	<li>PEQAB manuals and benchmarks</li>
	<li>Other colleges’ review guidelines</li>
</ul>
<h5>
	Internal process evidence
</h5>
<ul>
	<li>Algonquin’s program quality assurance reviews and prior program change cases. </li>
</ul>
<h4>
	Faculty Credentials 
</h4>
<p>
	The minimum credential for faculty teaching in a 3-year applied degree program is the terminal credential, which is a Master's degree. <i>Fifty percent of core courses</i> are taught by Master's holders. There's a minimum of five years' of work experience. All faculty are required to maintain currency in their field. There are no requirements for professional credentials. 
</p>