<ul class="text-small">
	<li>This site aims to follow WCAG 2.1 AA guidelines. If you find any issues, please email me at <a href="mailto:{{ site.data.sitewide.identification.email }}" title="Alain Paradis' E-Mail Address.">{{ site.data.sitewide.identification.email }}</a>.</li>
</ul>
<ul class="text-small">
	<li><strong>A.I. Statement:</strong> This program transformation plan was created through a synergy between human skills and AI algorithms. Specifically, Microsoft Copilot and Perplexity.ai were used for research purposes. They were also used for brainstorming and to suggest high-level topics for analysis. </li>
</ul>
