<ul class="contact">
	<li>{{ site.data.sitewide.identification.my-name }}</li>
	<li><a href="mailto:{{ site.data.sitewide.identification.email }}" title="Alain Paradis' E-Mail Address.">{{ site.data.sitewide.identification.email }}</a></li>
	<li>Tel: <a itemprop="telephone" href="tel:{{ site.data.sitewide.identification.phone }}">{{ site.data.sitewide.identification.phone }}</a></li>
	<li>Mobile: <a itemprop="telephone" href="tel:{{ site.data.sitewide.identification.mobile }}">{{ site.data.sitewide.identification.mobile }}</a></li>
</ul>
<ul class="text-small">
	<li>This site aims to follow WCAG 2.1 AA guidelines. If you find any issues, please email me at <a href="mailto:{{ site.data.sitewide.identification.email }}" title="Alain Paradis' E-Mail Address.">{{ site.data.sitewide.identification.email }}</a>.</li>
</ul>
<ul class="text-small">
	<li><strong>A.I. Statement:</strong> This program transformation plan was created through a synergy between human skills and AI algorithms. Specifically, Microsoft Copilot and Perplexity.ai were used for research purposes. They were also used for brainstorming and to suggest high-level topics for analysis. </li>
</ul>
