<ul class="columns2">
	<li>{{ site.data.sitewide.my-name }}</li>
	<li><a href="mailto:{{ site.data.sitewide.email }}" title="Alain Paradis' E-Mail Address.">{{ site.data.sitewide.email }}</a></li>
	<li><a href="tel:{{ site.data.sitewide.phone }}">{{ site.data.sitewide.phone }}</a></li>
	<li><a href="tel:{{ site.data.sitewide.mobile }}">{{ site.data.sitewide.mobile }}</a></li>
</ul>
<ul class="text-small">
	<li>This site aims to follow WCAG 2.1 AA guidelines. If you find any issues, please email me at <a href="mailto:{{ site.data.sitewide.email }}" title="Alain Paradis' E-Mail Address.">{{ site.data.sitewide.email }}</a>.</li>
</ul>
<ul class="text-small">
	<li><strong>A.I. Statement:</strong> This program transformation plan was created through a synergy between human skills and AI algorithms. Specifically, Microsoft Copilot was used for research purposes. It was also used for brainstorming and to suggest high-level topics for analysis. </li>
</ul>
