<h4>
	<a name="outcomes">Graduate Outcomes</a> 
</h4>
<p>
	The Bachelor of Applied Design (Design Studies) aims to prepare graduates for a design industry shaped by emerging technologies and shifting professional demands. The outcomes below reflect the degree-level expectations of the Ontario Qualifications Framework, spanning depth of knowledge, research competency, strategic thinking, and professional accountability. The degree level does not result in an unwarranted raising of the credential in the field. The Baccalaureate learning outcomes are warranted by the nature of the work the program prepares graduates to do. 
</p>
<p>
	The PEQAB Standard requires the proposed program meets the Bachelor’s Degree Level Standard on the Ontario Qualifications Framework across the six following elements which are mapped to the program learning outcomes below. 
</p>
{% assign outcomes = site.data.sitewide.grad_outcomes %} {% for element in site.data.sitewide.elements %} 
<section class="element">
	<h6>
		Element {{ element.id }}. {{ element.name }} 
	</h6>
	<ol>
		{% for num in element.carries %} {% assign outcome = outcomes | where: "id", num | first %} 
		<li value="{{ outcome.id }}">{{ outcome.text }}</li>
		{% endfor %} 
	</ol>
	<ol>
		{% for num in element.reinforces %} {% assign outcome = outcomes | where: "id", num | first %} 
		<li value="{{ outcome.id }}">{{ outcome.text }}</li>
		{% endfor %} 
	</ol>
</section>
{% endfor %}