<h4>
	<a name="pos">Reimagined Program of Study</a> 
</h4>
<p>
	This program of study was created (with A.I. assistance). It's not meant for implementation. It's meant to demonstrate what is possible. 
</p>

<ul class="default">
	<li>25 core courses. Core share: 83.3%, under the 85% cap.</li>
	<li>5 non-core courses. Non-core share: 16.7%. This clears the 15% minimum.</li>
	<li>A work term of at least 300 hours, related to the field, in the final semester.</li>
	<li>At least one freely chosen elective.</li>
</ul>

{% for item in site.data.pos.semesters %} 
<h5>
	<a name="{{ item.a-name }}">{{ item.title }}</a>
</h5>
<ol>
	{% for course in item.courses %} 
	<li> <strong>{{ course.title }}</strong> <span class="text-small text-medium">{{ course.core }}</span><br> {{ course.description }} </li>
	{% endfor %} 
</ol>
{% endfor %} 
