<h4>
	<a name="questions">Questions</a>
</h4>
<ul>
	<li>Is it possible to know enrolment numbers for degree programs in the province?</li>
	<li>Should we survey current Graphic Design students for interest in a degree option?</li>
</ul>
<p>
	Possible first steps: 
</p>
<ul>
	<li>Market demand indicators.</li>
	<li>Performance of existing Ontario applied degree programs.</li>
	<li>Cost and revenue projections with break-even scenarios.</li>
	<li>Faculty credential gap and closure strategy.</li>
</ul>
