<h4>
	<a name="questions">Questions</a> 
</h4>
<ul>
	<li>In your mind, what is the decision we’re trying to make?</li>
	<li>Can we start investigating the viability of a 3-year Applied Degree?</li>
	<li>How can we know market demand indicators?</li>
	<li>Can we obtain data on the performance of existing Ontario applied degree programs.</li>
	<li>Is it too early to investigate cost and revenue projections with break-even scenarios.</li>
	<li>We'll need to do a faculty credential gap and closure strategy.</li>
</ul>
