<h4>
	<a name="stakeholders">Stakeholders</a>
</h4>
<ul class="columns">
	<li>Current Students</li>
	<li>Alumni</li>
	<li>Faculty</li>
	<li>PAC members</li>
	<li>Employers</li>
	<li>Admissions/Recruitment</li>
	<li>Registrar</li>
	<li>Academic Development</li>
	<li>Senior Leadership</li>
</ul>

<!-- 
<p>
	There are a number of parties who have an interest in this initiative for their respective reasons.
</p>
<p>
High school students...
</p>
<p>
	Additionally, they include <em>college administration</em>, who has a clear stake in this initiative. By addressing declining enrolment through a targeted and strategic approach, the goal is to support enrolment recovery, ensuring long-term sustainability, viability, and resourcing. This effort positions Algonquin as a destination for serious, career-focused creatives, while enriching classroom dynamics through a diverse mix of backgrounds and experiences. As a result, employment outcomes and alumni visibility are expected to improve. The initiative also signals a proactive response to sector-wide challenges, including concerns about artificial intelligence and shifting funding models. Importantly, it boosts internal morale by providing faculty and staff with a focused plan and renewed momentum in recruitment efforts. 
</p>
<p>
	<em>Prospective students’ parents</em> want to know their child is choosing a path that leads to both personal growth and professional success. The program offers hands-on, career-focused training that prepares students for real opportunities in branding, motion graphics, user experience design, and more. With a strong emphasis on employability, portfolio development, and industry connections, the program helps creative students turn their passion into a stable, fulfilling career. 
</p>
<p>
	<em>Algonquin Graphic Design faculty</em> benefit directly from a healthy and growing enrollment. It ensures program sustainability, protects teaching resources, and supports a vibrant learning environment. More students mean more diverse perspectives, stronger classroom engagement, and greater opportunities to showcase the program’s impact. A well-supported initiative also reinforces the value of design education and boosts morale across the department. 
</p>
 -->
